DirectoryIndex aec3po

RewriteCond %{REQUEST_URI} ^/aec3po/(CheckMethod|operationalizes|isOperationalizedBy|ProceduralCheckMethod|DeclarativeCheckMethod|ConceptCheckMethod|NumericalCheckMethod|hasComparator|CertificateCheckMethod|CategoryCheckMethod|ComponentCheckMethod|SPARQLCheckMethod|SHACLCheckMethod|SWRLCheckMethod|CompositeCheckMethod|hasBSDDTarget|hasBSDDValue|hasNestedValue|hasUnit|JenaCheckMethod|BooleanCheckMethod|hasOperator|hasNestedTarget|FunctionCheckMethod)$
RewriteRule ^(.*)$ /aec3po/check_method#$1 [R=303,NE]
            
RewriteCond %{REQUEST_URI} ^/aec3po/(FeatureOfInterest|Property|hasProperty|hasQuantityKind|QuantityKind)$
RewriteRule ^(.*)$ /aec3po/feature_of_interest#$1 [R=303,NE]
            
RewriteCond %{REQUEST_URI} ^/aec3po/(LegalVerifier|PrivateVerifier|StateVerifier)$
RewriteRule ^(.*)$ /aec3po/legal_verifier#$1 [R=303,NE]
            
RewriteCond %{REQUEST_URI} ^/aec3po/(Document|forDocument|usesDocument|requiresDocument|DocumentSubdivision|DocumentSubdivision_asLiteral|hasSubdivision|hasNextSubdivision|hasFirstSubdivision|Drawing|Image)$
RewriteRule ^(.*)$ /aec3po/document#$1 [R=303,NE]
            
RewriteCond %{REQUEST_URI} ^/aec3po/(Model|Phase|Element|Dimension|Classification)$
RewriteRule ^(.*)$ /aec3po/model#$1 [R=303,NE]
            
RewriteCond %{REQUEST_URI} ^/aec3po/(hasValue|asText)$
RewriteRule ^(.*)$ /aec3po/aec3po#$1 [R=303,NE]
            
RewriteCond %{REQUEST_URI} ^/aec3po/(Evidence|hasFormat)$
RewriteRule ^(.*)$ /aec3po/evidence#$1 [R=303,NE]
            
RewriteCond %{REQUEST_URI} ^/aec3po/(hasRequiredData|DataRequirement|IDS)$
RewriteRule ^(.*)$ /aec3po/data_requirement#$1 [R=303,NE]
            
RewriteCond %{REQUEST_URI} ^/aec3po/(Statement|hasEvidence|hasInlinePart|DefinitionStatement|definitionOf|hasDefinition|CheckStatement|CategoryCheckStatement|CertificateCheckStatement|ChecklistStatement|HumanEvaluatedCheckStatement|hasEvaluator|NumericalCheckStatement|BooleanCheckStatement|AndCheckStatement|OrCheckStatement|NotCheckStatement)$
RewriteRule ^(.*)$ /aec3po/statement#$1 [R=303,NE]
            
RewriteCond %{REQUEST_URI} ^/aec3po/(CheckingAct|startTime|endTime|usedMethod|madeBy|checked|hasReport)$
RewriteRule ^(.*)$ /aec3po/checking_act#$1 [R=303,NE]
            
RewriteCond %{REQUEST_URI} ^/aec3po/(RequirementStatement|requires|ApplicationStatement|appliesTo|ExceptionStatement|except|SelectionStatement|selects)$
RewriteRule ^(.*)$ /aec3po/rase_statement#$1 [R=303,NE]
            
RewriteCond %{REQUEST_URI} ^/aec3po/(Container|Table|contains|isContainedIn|caption|Column|Row|Cell)$
RewriteRule ^(.*)$ /aec3po/table#$1 [R=303,NE]
            
RewriteCond %{REQUEST_URI} ^/aec3po/(conforms|ComplianceVerificationReport|hasResult|VerificationResult|verificationFocus|verificationStatement|verificationPlanZone|resultMessage|severity|Severity|Info|Violation|Warning)$
RewriteRule ^(.*)$ /aec3po/compliance_verification_report#$1 [R=303,NE]
            
RewriteCond %{REQUEST_URI} ^/aec3po/(BuildingUsage|BuildingUsageNomenclature|forBuildingUsage|hasBuildingUsage|BuildingUsage-commercial|BuildingUsage-residential|BuildingUsage-cultural)$
RewriteRule ^(.*)$ /aec3po/vocabularies/building_usage#$1 [R=303,NE]
            
RewriteCond %{REQUEST_URI} ^/aec3po/(QuantityKind|QuantityKindNomenclature|ModularRoomHeight|WidthOfAngledCorridor|CompressiveForce|PartialSafetyFactor|PartialSafetyFactor0|PartialSafetyFactor1|AxialCompressionStress|ModificationFactorKmod)$
RewriteRule ^(.*)$ /aec3po/vocabularies/quantity_kinds#$1 [R=303,NE]
            
RewriteCond %{REQUEST_URI} ^/aec3po/(CheckMethodComparator|CheckMethodComparatorNomenclature|CheckMethodcomparator-eq|CheckMethodComparator-neq|CheckMethodComparator-lt|CheckMethodComparator-le|CheckMethodComparator-gt|CheckMethodComparator-ge|CheckMethodcomparator-logicalAND|CheckMethodComparator-logicalOR|hasComparator)$
RewriteRule ^(.*)$ /aec3po/vocabularies/check_method_comparators#$1 [R=303,NE]
            
RewriteCond %{REQUEST_URI} ^/aec3po/(Discipline|DisciplineNomenclature|hasDiscipline|Discipline-architecture|Discipline-buildingServices|Discipline-construction|Discipline-planning|Discipline-structuralEngineering)$
RewriteRule ^(.*)$ /aec3po/vocabularies/disciplines#$1 [R=303,NE]
            
RewriteCond %{REQUEST_URI} ^/aec3po/(CheckMethodOperator|CheckMethodOperatorNomenclature|CheckMethodOperator-exists|CheckMethodOperator-notExists|CheckMethodOperator-forall|CheckMethodOperator-multiplication|CheckMethodOperator-division|CheckMethodOperator-addition|CheckMethodOperator-subtraction)$
RewriteRule ^(.*)$ /aec3po/vocabularies/check_method_operators#$1 [R=303,NE]
            
RewriteCond %{REQUEST_URI} ^/aec3po/(AdministrativeArea|AdministrativeAreaNomenclature|forAdministrativeArea|England|Estonia|Finland|France|Germany|Italy|Spain)$
RewriteRule ^(.*)$ /aec3po/vocabularies/administrative_areas#$1 [R=303,NE]
            
RewriteCond %{REQUEST_URI} ^/aec3po/(BuildingStructure|BuildingStructureNomenclature|forBuildingStructure|hasBuildingStructure|BuildingStructure-steel|BuildingStructure-timber)$
RewriteRule ^(.*)$ /aec3po/vocabularies/building_structure#$1 [R=303,NE]
            
RewriteCond %{REQUEST_URI} ^/aec3po/(PermittingStage|PermittingStageNomenclature|hasPermittingStage|UK_Building_Control_Submission|UK_Planning_Permission)$
RewriteRule ^(.*)$ /aec3po/vocabularies/permitting_stages#$1 [R=303,NE]
            